@mixin font-setting($size, $height){
  font-size: $size;
  line-height: $height;
}

@mixin pseudo($display: inline-block, $content: ''){
  display: $display;
  content: $content;
}

@mixin gen-icons($base, $list, $item, $path, $ext){
  @each $ic in $list{
    #{$base}#{$ic}#{$item}{
      background-image: url("#{$path}#{$ic}.#{$ext}");
    }
  }
}