$main-font-stack:  'Montserrat', sans-serif;
$secondary-font-stack: 'Kaushan Script', cursive;
$text-font-stack: 'Roboto', sans-serif;

$primari-bg-color: #ffffff;
$secondary-bg-color: #95e1d3;

$header-font-color: #ffffff;
$header-accent-color: #fce38a;
$header-border-color: #ffffff;
$border-color: #e7e7e7;

$primary-font-color: #333333;
$secondary-font-color: #999999;
$secondary-accent-color: #f38181;
$input-color: #cccccc;
$input-ok-color: green;
$input-error-color: red;

$main-font-size: 14px;
$main-font-height: 1.2;