/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *::before, *::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}


body {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
    font-weight: normal;
}

/* *{
    outline: 1px solid red;
} */

img{
    display: block;
    max-width: 100%;
    height: auto;
    /* object-fit: none; */
}

.conteiner{
    width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.link{
    display: block;
    text-decoration: none;
}

.button{
    border: none;
    margin: 0px;
    cursor: pointer;
}

/* banner */

.banner{
    background-image: url(../img/background.jpg);
    background-position: center top 0px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 230px;
}

.banner__text{
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    text-align: center;
    color: #ffffff;
    margin: 0px;
    margin-bottom: 42px;
    padding: 0px;
}

.banner__title{
    display: block;
    width: 1000px;
    font-size: 150px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0px auto;
    margin-bottom: 110px;
    padding: 0px;
}

.banner__btn{
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid #ffffff;
    margin: 0px auto;
    padding: 0px;
    background-color: transparent;
    width: 160px;
    height: 40px;

}

/*navigation*/

.page-nav{
    padding: 26px 0px 180px 0px;
    min-height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    min-height: 40px;
    border-bottom: 3px solid transparent;
    -webkit-transition-property:
        color,
        border-bottom;
    -o-transition-property:
        color,
        border-bottom;
    transition-property:
        color,
        border-bottom;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.logo:hover,
.logo:focus{
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}

.menu{

    font-size: 14px;
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}

.menu__item:not(:last-child){
    margin-right: 34px;
}

.menu__item{
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 3px solid transparent;
    -webkit-transition-property:
    border-bottom;
    -o-transition-property:
    border-bottom;
    transition-property:
    border-bottom;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
.menu__link{
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition-property:
    color;
    -o-transition-property:
    color;
    transition-property:
    color;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.menu__icon{
    fill: #ffffff;
    width: 20px;
    height: 34px;
}

.menu__item:hover .menu__link,
.menu__item:focus .menu__link{
    color: #fce38a;

}

.menu__item:hover .menu__icon,
.menu__item:focus .menu__icon{
    fill: #fce38a;
}

.menu__item:hover,
.menu__item:focus{
    border-bottom: 3px solid #fce38a;
}

/* section and items */

.section{
    padding-bottom: 80px;

}

.section__text{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
}

.section__title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 40px;
    padding: 0px;
}

.section__title::after{
    display: block;
    margin: 0px auto;
    margin-top: 40px;
    content: '';
    height: 3px;
    width: 60px;
    background-color: #f38181;
}

.section__description{
    margin: 0px;
    margin-bottom: 90px;
    padding: 0px;
    text-align: center;
    color: #999999;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

.section__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}
/* services */

.service{
    padding-top: 52px;
}

.service__list{
    padding-top: 16px;
    font-size: 14px;
    -ms-flex-pack: distribute;
        justify-content: space-around;  
}

.service__item{
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.service__item:not(:nth-last-child(-n+3)){
    margin-bottom: 98px;
}

.service__icon::before{
    content: "";
    display: block;
    height: 32px;
    width: 72px;
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
}

.service__icon--alarm::before{
    background-image: url("../img/services/ALARM.svg");
}

.service__icon--graph::before{
    background-image: url("../img/services/GRAPH.svg");
}

.service__icon--computer::before{
    background-image: url("../img/services/COMPUTER.svg");
}

.service__icon--book::before{
    background-image: url("../img/services/BOOK.svg");
}

.service__icon--home::before{
    background-image: url("../img/services/HOME.svg");
}

.service__icon--image::before{
    background-image: url("../img/services/IMAGE.svg");
}

.service__item-title{
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 14px;
    padding: 0px;
}

.service__item-text{
    margin: 0px;
    padding: 0px;
    color: #999999;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

/* team */

.team{
    padding-top: 10px;
}


.team__list{
    font-size: 14px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;    
}

.member{
    width: 380px;
}

.member__name{
    margin: 0px;
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
}

.member__job{
    margin: 0px;
    text-align: center;
    color: #999999;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;  
    font-weight: 300;
    font-style: italic; 
}

/* buttons select */

.member__photo{
    margin-bottom: 30px;
    position: relative;
    -webkit-box-shadow: 0px 0px 0 rgb(149, 225, 211);
            box-shadow: 0px 0px 0 rgb(149, 225, 211);
    -webkit-transition-property:
    -webkit-transform,
    -webkit-box-shadow;
    transition-property:
    -webkit-transform,
    -webkit-box-shadow;
    -o-transition-property:
    transform,
    box-shadow;
    transition-property:
    transform,
    box-shadow;
    transition-property:
    transform,
    box-shadow,
    -webkit-transform,
    -webkit-box-shadow;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.member__photo::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(252,227,138)), to(rgb(243,129,129)));
    background-image: -o-linear-gradient( left, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    opacity: 0;
    -webkit-transition-property:
    opacity;
    -o-transition-property:
    opacity;
    transition-property:
    opacity;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.socials{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 224px;
    height: 56px;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;     
    -webkit-transition-property:
    opacity;     
    -o-transition-property:
    opacity;     
    transition-property:
    opacity;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.member:hover .member__photo,
.member:focus .member__photo{
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 0 rgb(149, 225, 211);
            box-shadow: 10px 10px 0 rgb(149, 225, 211);
}

.member:hover .member__photo::before,
.member:focus .member__photo::before{
    opacity: 0.9;
}

.member:hover .socials,
.member:focus .socials{
    opacity: 1;
    visibility: visible;
}

.socials__link{
    /* display: inline-block; */
    border: 0px solid rgb(252, 227, 136);
    margin: 0px auto;
    padding: 14.5px 0px;
    background-color: #fce38a;
    cursor: pointer;
    width: 55px;
    height: 56px;
    text-align: center;
    /* line-height: 56px; */
    /* background-repeat: no-repeat; */
    -webkit-transition-property:
    background-color;
    -o-transition-property:
    background-color;
    transition-property:
    background-color;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.socials__icon{
    display: inline-block;
    fill: #f38181;
    width: 25px;
    height: 25px;
    /* line-height: 56px; */
}

.socials__link:hover,
.socials__link:focus{
    background-color: #f38181;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon{
    fill: #ffffff;
}

/* footer */
.footer{
    height: 63px;
    border-top: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.rights__design{
    color: #f38181;
}

.form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form__email{
    margin: 0px;
    padding: 0px;
    border: 1px solid #e7e7e7;
}

.form__email::-webkit-input-placeholder{
    padding-left: 12px;
    width: 230px;
    height: 40px;

    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;  
    font-weight: 300;
    font-style: italic; 
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
}

.form__email::-moz-placeholder{
    padding-left: 12px;
    width: 230px;
    height: 40px;

    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;  
    font-weight: 300;
    font-style: italic; 
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
}

.form__email:-ms-input-placeholder{
    padding-left: 12px;
    width: 230px;
    height: 40px;

    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;  
    font-weight: 300;
    font-style: italic; 
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
}

.form__email::-ms-input-placeholder{
    padding-left: 12px;
    width: 230px;
    height: 40px;

    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;  
    font-weight: 300;
    font-style: italic; 
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
}

.form__email, .form__email::placeholder{
    padding-left: 12px;
    width: 230px;
    height: 40px;

    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;  
    font-weight: 300;
    font-style: italic; 
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
}

input:required:focus:valid:not(:placeholder-shown),
textarea:required:focus:valid:not(:placeholder-shown){
    outline: 2px solid green;
}

input:required:focus:invalid:not(:placeholder-shown),
textarea:required:focus:invalid:not(:placeholder-shown){
    outline: 2px solid red;
}

.form__submit{
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.visualy-hidden:not(:focus):not(:active),
input[type="checkbox"].visualy-hidden,
input[type="radio"].visualy-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx){
    header{
        background-image: url(../img/background@2x.jpg);
    }
}